# Ignore downloaded tutorial data to prevent slow push
tutorials/QuDiPy tutorial data/
QuDiPy tutorial data/
QuDiPy data/

# ignore code under development
qudipy/

# ignore pickled binary data files
*.pkl

# ignore vs code workspaces
qudipy.code-workspace
**/.vscode/*

*.ipynb_checkpoints
animation_plot/
testing.py
test.py

# Ignore directory with figures for either debugging or presentations
figures/

# I use tutorials/test.py for testing purposes and don't want it tracked
tutorials/test.py
# I sometimes use the cProfile package in tutorial/test.py for code optimization
# This generates output.dat, output_calls.txt, output_time.txt
tutorials/output.dat
tutorials/output_calls.txt
tutorials/output_time.txt
tutorials/qudipy
test_buddy*.py
*code-workspace

# Ignore any text file that contains alternate simulator names
names.txt

*.pyc
__pycache__/
*.csv

